<%- include('header') %>

<div class="main">
    <div class="main-top">
        聊天室
    </div>

    <div class="main-left">
        <span></span>
        <section class="chatRoomInfo">
            <div class="info">
                
            </div>
        </section>
    </div>

    <div class="main-body">

    </div>    
    
    <div class="main-footer clearfix">
        <div class="input">
            <input type="text" name="msg" id="msg" value="" />
        </div>
        <button type="button" class="send">发送</button>
    </div>
</div>

<%- include('footer') %>
